.App {
  text-align: center;
}


select {
  padding: 10px;
  margin:10px;
  border: 1px solid red;
  width: 20%;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  outline: none;
  background-color: #f9f9f9;
}

option{
  padding: 10px;
  background-color: #fff; 
  color: #333; 
}
